* {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  /* border: black solid 2px; */
}
.container {
  padding: 30px;
}
h1 {
  margin-bottom: 10px;
}
h1,
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
