<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h1>Add a New User</h1>
    <form action="/user/create" method="post">
        {#  <label for="id">ID#:</label>
        <input type="number" name="id"> #}
        <label for="first_name">First Name:</label> {# ENSURE your 'name' for input matches what you used in the SQL database!#}
        <input type="text" name="first_name">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        <label for="email" >Email:</label>
        <input type="text" name="email">
        <button type="submit">Add User</button>
    </form> 

</body>
</html>